body{
  background-color: thistle;

}
#main
{
  /* centered items */
    text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
a{
  margin: 15px;
  font-size: 18px;
}
/* Style the list items */
ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  font-style: normal;
  list-style-type: none;
  background: #eee;
  font-size: 20px;
  transition: 0.4s;
}

/* Set alternate list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the del button */
.del {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}
/* On hover */
.del:hover {
  background: #bbb;
  color: red;
  font-weight: bolder;
}