body {
    margin: 0px auto;
    min-width: 250px;
  }
  /* Set up the header */
  .header {
    background-color: lightgreen;
    position: relative;
    padding:10px 40px;
    color: black;
    text-align: center;
    height:170px;
  }
  /* color of link of go to favorites */
  a{
    font-size: 18px;
  }
  a:hover{
    color: red;
  }
  /* search icon on textbox */
  #searchicon
  {
    position: relative;
    color:black;
    font-size: 25px;
    right:35px;
    top:5px;
  }
  /* text box */
  input {
    margin: 0;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    padding-left: 10px;
    font-size: 16px;
  }
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  #match-list {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  #match-list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-style: normal;
    list-style-type: none;
    background: #eee;
    font-size: 20px;
    transition: 0.4s;
  }
  
  /* Set alternate list items to a different color (zebra-stripes) */
  #match-list li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  #match-list li:hover {
    background: #ddd;
  }
  
  /* for small screen */
  @media screen and (max-width: 500px) {
    input{
      width:90%;
    }
  }
  